--extra-index-url https://download.pytorch.org/whl/cu121
# --extra-index-url https://download.pytorch.org/whl/cu118
torch>=2.1.0
transformers==4.33.2
auto-gptq
sentencepiece
bitsandbytes
xformers
scipy
numpy

# server
fastapi[all]
asyncio
sse-starlette  # Server Side Event Support
# uvicorn[standard]
hypercorn
coloredlogs
dacite
