-r requirements/server.txt
--extra-index-url https://download.pytorch.org/whl/cu121
# --extra-index-url https://download.pytorch.org/whl/cu118
torch>=2.1.0
transformers==4.38.0
auto-gptq
sentencepiece
bitsandbytes
xformers
scipy
numpy
